*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-image: url('../img/page.png');
    background-repeat: no-repeat;
    background-size: cover;
}
ul, li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}