.header{
    background: rgba(0, 0, 0, 0.4);
}
.header-container{
    width: 1180px;
    margin: 0 auto;
    display: flex;
    padding: 18px 0;
    align-items: center;
}
.header-logo{
    flex: 1 1 auto;
    font-weight: 700;
    line-height: 22px;
    font-size: 22px;
    color: #fff;

}
.logo-link{
    color: rgba(255, 255, 255, 1);
    transition: 0.3s;
}
.menu-link svg path{
    transition: 0.3s;
}
.logo-link:hover{
    color: rgba(1, 120, 80, 1);
}

.header-menu a{
    margin-right: 25px;
}
.header-menu a:hover svg path{
    fill: rgba(1, 120, 80, 1);
    transition: 0.3s;
}

.header-login{
    border-left: 1px solid #fff;
    padding: 5px 0 5px 25px;
    color: #fff;
}
.header-login a{
    transition: 0.3s;
}
.header-login a:hover{
    color: rgba(1, 120, 80, 1);
}

.content-container{
    width: 444px;
    height: 584px;
    background: #fff;
    margin: 54px auto;
    position: relative;
}
.green-box{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 29px;
    background: rgba(60, 184, 120, 1);
}

.content-form{
    width: 324px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 31px;
}
.first-block{
    display: flex;
    flex-direction: column;
}
.top-side{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    position: relative;
}
.sing_up{
    font-size: 20px;
    line-height: 14px;
    color: #434343;
}
.log_in{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    position: relative;
    transition: 0.3s;
}
.log_in::before{
    content: '';
    width: 100%;
    height: 1px;
    background: #3CB878;
    position: absolute;
    left: 0;
    bottom: -3px;
    opacity: 0;
    transform: scaleX(0);
    transition: 0.3s;
}
.log_in:hover{
    color: rgba(1, 129, 63, 1);
}

.log_in:hover::before{
    background: rgba(1, 129, 63, 1);
    opacity: 1;
    transform: scaleX(1);
}

.bottom-side{
    display: flex;
    justify-content: space-between;
}

.facebook-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px 0 17px;
    font-size: 16px;
    line-height: 16px;
    width: 160px;
    height: 48px;
    color: #fff;
    background: rgba(48, 93, 184, 1);
    border: 0;
    border-radius: 3px;
    transition: 0.3s;
}
.facebook-button:hover{
    background: rgba(2, 34, 99, 1);
}

.text-facebook{
    padding: 7px 0 7px 18px;
    border-left: 1px solid rgba(10, 22, 47, 0.4);
}
.facebook-button img{
    width: 13px;
    height: 24px;
}

.google-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px 0 12px;
    font-size: 16px;
    line-height: 16px;
    width: 160px;
    height: 48px;
    color: #fff;
    border: 0;
    border-radius: 3px;
    background: rgba(223, 74, 50, 1);
    transition: 0.3s;
}
.google-button:hover{
    background: rgba(171, 31, 9, 1);
}

.text-google{
    padding: 7px 0 7px 30px;
    border-left: 1px solid rgba(43, 13, 9, 0.4);
}
.google-button img{
    width: 30px;
    height: 19px;
}

.line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    line-height: 0.1em;
    margin: 31px 0 12px;
}

.line .line-text {
    font-size: 14px;
    color: rgba(132, 132, 132, 1);
    background:#fff;
    padding:0 5px;
}
.select{
    width: 322px;
    height: 44px;
    margin-bottom: 15px;
}
.text_form{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 14px;
    padding-left: 20px;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 4px;
    color: rgba(67, 67, 67, 1);
}
.select input{
    transition: 0.3s;
}
.select input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.text_form::placeholder{
    color: rgba(190, 190, 190, 1);
}

.label{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox{
    display: none;
}
.fake{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    position: relative;
}
.fake::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    display: block;
    background-image: url('../img/checkbox.svg');
    opacity: 0;
    transition: 0.3s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.checkbox:hover + .fake::before{
    fill: rgba(1, 129, 63, 1);
}

.checkbox-text{
    padding-left: 8px;
}
.checkbox-link{
    position: relative;
    color: rgba(60, 184, 120, 1);
}

.checkbox-link::before{
    content: '';
    width: 100%;
    height: 1px;
    background: #3CB878;
    position: absolute;
    left: 0;
    bottom: -3px;
    opacity: 0;
    transform: scaleX(0);
    transition: 0.3s;
}
.checkbox-link:hover{
    color: rgba(1, 129, 63, 1);
}
.checkbox-link:hover::before{
    background: rgba(1, 129, 63, 1);
    opacity: 1;
    transform: scaleX(1);
}

.create-button{
    font-family: 'Ubuntu', sans-serif;
    width: 324px;
    height: 46px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 0;
    transition: 0.3s;
}
.create-button:hover{
    background: rgba(1, 129, 63, 1);
}